html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#stage-container {
  background: #31343A;
}

#draw-inputs input#submit {
  padding: 4px;
  font-size: 14px;
}

#draw-inputs input {
  padding: 4px;
  font-size: 14px;
}

#draw-inputs label {
  padding: 16px;
  font-size: 18px;
}